[submodule "Modules/breadwallet-core"]
	path = Modules/breadwallet-core
	url = //Users/brutus/Documents/Documents_ExBox/Extremal_Tech/Bitcoin/keydino-ios.git
	#url = https://github.com/breadwallet/breadwallet-core.git
[submodule "Modules/unbound"]
	path = Modules/unbound
	url = //Users/brutus/Documents/Documents_ExBox/Extremal_Tech/Bitcoin/unbound.git
	#url = https://github.com/breadwallet/unbound.git
[submodule "Modules/nettle"]
	path = Modules/nettle
	url = //Users/brutus/Documents/Documents_ExBox/Extremal_Tech/Bitcoin/nettle.git
	#url = https://github.com/breadwallet/nettle.git
